/*  nor  */
html,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*  lib  */
:root {
    --site-width : 900px;
}

.container {
    max-width: var(--site-width);
    margin: 0 auto;
}

/*  cus  */

#wrap {
    width: 100%;
}

/* 이미지 정렬 */

.container .img {
    max-width: 900px;
    margin: 0 auto;
}

/* 탑 이미지 */

.container .top-img {
    height: 600px;
    z-index: 999;
    position: relative;
}

/* 센터 bar */

div.center-bar {
    position: relative;
    max-width: 900px;
    height: 15px;
    background-color: #06143a;
    margin: 0 auto  ;
    z-index: 99;
}

/* 바로가기 이벤트 이미지 */

.container > .bottom {
    max-width: 900px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto ;
    width: 100%;
    display: flex;
    position: relative;
}

/* 센터바 가운데 원 , 화살표 */
.container > .bottom .shape {
    width: 100px;
    height: 60px;
    background-color: #06143a;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container > .bottom .arrow {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #06143a;
    border: 2px solid gold;
    position: absolute;
    top: -13px;
    left: 437px;
}

/* 바로가기 이미지 왼쪽 */
.container > .bottom > .b-left {
    width: 50%;
    height: 600px;
}

/* 바로가기 이미지 오른쪽 */
.container > .bottom > .b-right {
    width: 50%;
    height: 600px;
}

.container > .bottom > .b-right > .img-box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .bottom > .b-right > .img-box:nth-child(1){
    margin-top: 115px;
}

.container > .bottom > .b-right > .img-box img {
    justify-content: center;
}

/* 바텀 bar */

div.bottom-bar {
    max-width: 900px;
    height: 15px;
    background-color: #06143a;
    margin: 0 auto  ;
}
